# Data Science

what is data ?

data = Any information

what is science ?

Science = Maths,Stats,business......................... physics # esc + M

### FYP objective

* Credit Card Loan -----> Data 
* ML/DL           -------> Science

2 ----> number
in DS
2 ----> ? Data point 
tv ----> data point

In [5]:
2 + 2   #shift + enter

4

In [6]:
2+2

4

In [7]:
2+2 #alt+enter

4

In [8]:
2 + 5      # ---->  Arthimatic operator / Familar oprators

7

In [9]:
2**9  # square

512

In [16]:
2**4
2-6

-4

In [17]:

2-6
2**3

8

In [18]:
2-6
2**3
2-2

0

In [19]:
print(2-6)
print(2**3)
2-2

-4
8

0

 print() is a function that is used to display anything

In [22]:
2-6
print(2**3)
print(2-2)

8
0

In [23]:
2/2  # division

1.0

In [24]:
2//2 # prefectly division

1

# print(2)

* esc + M ---> for markdown 
* esc + y ----> for code

## heading

# Varaible

In [30]:
salary = 20000000

In [27]:
my_friend = "Alisha"      # assignment # store # assign

In [28]:
my_friend

'Alisha'

In [31]:
salary

20000000

In [33]:
fasih = "ME" # angreezi inverted commas

In [34]:
fasih

'ME'

In [35]:
_ = "Nabiha"

In [36]:
_

'Nabiha'

In [37]:
& = "Nabiha and Alisha"

SyntaxError: invalid syntax (<ipython-input-37-7618f15eba52>, line 1)

### Variable rules 
* `1` Variable includes numbers,alphabets,underscore 
* `2` Variable does not start with number

In [39]:
a_b = 3 
a_b

3

In [40]:
sore = 2   # legal or illegal

In [46]:
friend = "Ali"    # assignment operator

In [47]:
ali234 = "ID_Number:128888"

In [48]:
what is your question = "I want A Credit card"

SyntaxError: invalid syntax (<ipython-input-48-943654f9cdd2>, line 1)

In [49]:
what_is_your_q37uestion = "I want A Credit card"

In [50]:
3num = 12.39

SyntaxError: invalid syntax (<ipython-input-50-b4368f56db83>, line 1)

In [51]:
ahdbwkjdb = "sjdskdbkd"

In [53]:
2asaksdnsn92923y23978y_________hsbdjhsdbsdbh = 222

SyntaxError: invalid syntax (<ipython-input-53-b4dfd6ba88bb>, line 1)

In [54]:
Credit_C@ard = "Shahbaz"

SyntaxError: cannot assign to operator (<ipython-input-54-9e011d1e31d5>, line 1)

In [55]:
Cas2redit_C^ard = "Shahbaz"

SyntaxError: cannot assign to operator (<ipython-input-55-691d561c2134>, line 1)

In [57]:
shahbaz_pd = 0.2

In [59]:
shahbaz_pd

0.2

In [61]:
shahbaz_pd = 0.3 
shahbaz_pd

0.3

In [62]:
shahbaz_pd_default = 0.5 # create 
shahbaz_pd

0.3

In [63]:
print(shahbaz_pd)  
shahbaz_pd_default

0.3

0.5

In [64]:
shahbaz_pd = 0.5   # update 
shahbaz_pd

0.5

### Data

##### Mainly Two types of Data 

1) Numbers 
* ---> Int 
* ----> Float 

2) Alphabets 
* ---> String ---> " "

In [69]:
type(234)

int

In [70]:
type("Alisha")

str

In [72]:
type("1900.0") # everything in " " will be considered

str