# Variable

In [1]:
var = "Mehwish" 
var

'Mehwish'

In [2]:
aiou = "lkiu"
aiou

'lkiu'

In [3]:
customer = "Shahbaz"  
customer

'Shahbaz'

In [4]:
customer_ = "Shahbaz"  
customer_

'Shahbaz'

In [5]:
customer_1 = "Shahbaz"  
customer_1

'Shahbaz'

In [6]:
borrower_1_name = "Shahbaz"  
borrower_1_salary = 20000
borrower_1_gender = "Male"

# List

List is a data structure that stored mulitiple data types and also known hetrogenous

In [7]:
borrower_1 = [ "Shahbaz","Male",20000]
borrower_1

['Shahbaz', 'Male', 20000]

In [8]:
borrower_2 = ["Mehwish","Female",30000]
borrower_2

['Mehwish', 'Female', 30000]

In [9]:
name = "Mehiwsh"
type(name)

str

In [10]:
type(borrower_2)

list

In [11]:
borrower_1

['Shahbaz', 'Male', 20000]

In [12]:
borrower_2

['Mehwish', 'Female', 30000]

In [13]:
borrower_1.append("AI")

In [14]:
borrower_1

['Shahbaz', 'Male', 20000, 'AI']

In [15]:
borrower_2

['Mehwish', 'Female', 30000]

In [16]:
borrower_2.append("DS")

In [17]:
borrower_2

['Mehwish', 'Female', 30000, 'DS']

In [18]:
borrower_1

['Shahbaz', 'Male', 20000, 'AI']

In [19]:
borrower_2

['Mehwish', 'Female', 30000, 'DS']

In [20]:
borrower_2.remove("DS")

In [21]:
borrower_2

['Mehwish', 'Female', 30000]

In [22]:
borrower_2.append("RA")

In [23]:
borrower_2.remove("R_A")

ValueError: list.remove(x): x not in list

In [24]:
borrower_2.append("DS")

In [25]:
borrower_2.remove("RA")

## List indexing

In [26]:
borrower_2[-1] = "RA"     # update

In [27]:
borrower_2

['Mehwish', 'Female', 30000, 'RA']

In [28]:
borrower_2[3] = "AA"

In [29]:
borrower_2

['Mehwish', 'Female', 30000, 'AA']

In [30]:
import numpy as np

In [31]:
np.arange(1277, step = 2)

array([   0,    2,    4,    6,    8,   10,   12,   14,   16,   18,   20,
         22,   24,   26,   28,   30,   32,   34,   36,   38,   40,   42,
         44,   46,   48,   50,   52,   54,   56,   58,   60,   62,   64,
         66,   68,   70,   72,   74,   76,   78,   80,   82,   84,   86,
         88,   90,   92,   94,   96,   98,  100,  102,  104,  106,  108,
        110,  112,  114,  116,  118,  120,  122,  124,  126,  128,  130,
        132,  134,  136,  138,  140,  142,  144,  146,  148,  150,  152,
        154,  156,  158,  160,  162,  164,  166,  168,  170,  172,  174,
        176,  178,  180,  182,  184,  186,  188,  190,  192,  194,  196,
        198,  200,  202,  204,  206,  208,  210,  212,  214,  216,  218,
        220,  222,  224,  226,  228,  230,  232,  234,  236,  238,  240,
        242,  244,  246,  248,  250,  252,  254,  256,  258,  260,  262,
        264,  266,  268,  270,  272,  274,  276,  278,  280,  282,  284,
        286,  288,  290,  292,  294,  296,  298,  300,  302,  304,  306,
        308,  310,  312,  314,  316,  318,  320,  322,  324,  326,  328,
        330,  332,  334,  336,  338,  340,  342,  344,  346,  348,  350,
        352,  354,  356,  358,  360,  362,  364,  366,  368,  370,  372,
        374,  376,  378,  380,  382,  384,  386,  388,  390,  392,  394,
        396,  398,  400,  402,  404,  406,  408,  410,  412,  414,  416,
        418,  420,  422,  424,  426,  428,  430,  432,  434,  436,  438,
        440,  442,  444,  446,  448,  450,  452,  454,  456,  458,  460,
        462,  464,  466,  468,  470,  472,  474,  476,  478,  480,  482,
        484,  486,  488,  490,  492,  494,  496,  498,  500,  502,  504,
        506,  508,  510,  512,  514,  516,  518,  520,  522,  524,  526,
        528,  530,  532,  534,  536,  538,  540,  542,  544,  546,  548,
        550,  552,  554,  556,  558,  560,  562,  564,  566,  568,  570,
        572,  574,  576,  578,  580,  582,  584,  586,  588,  590,  592,
        594,  596,  598,  600,  602,  604,  606,  608,  610,  612,  614,
        616,  618,  620,  622,  624,  626,  628,  630,  632,  634,  636,
        638,  640,  642,  644,  646,  648,  650,  652,  654,  656,  658,
        660,  662,  664,  666,  668,  670,  672,  674,  676,  678,  680,
        682,  684,  686,  688,  690,  692,  694,  696,  698,  700,  702,
        704,  706,  708,  710,  712,  714,  716,  718,  720,  722,  724,
        726,  728,  730,  732,  734,  736,  738,  740,  742,  744,  746,
        748,  750,  752,  754,  756,  758,  760,  762,  764,  766,  768,
        770,  772,  774,  776,  778,  780,  782,  784,  786,  788,  790,
        792,  794,  796,  798,  800,  802,  804,  806,  808,  810,  812,
        814,  816,  818,  820,  822,  824,  826,  828,  830,  832,  834,
        836,  838,  840,  842,  844,  846,  848,  850,  852,  854,  856,
        858,  860,  862,  864,  866,  868,  870,  872,  874,  876,  878,
        880,  882,  884,  886,  888,  890,  892,  894,  896,  898,  900,
        902,  904,  906,  908,  910,  912,  914,  916,  918,  920,  922,
        924,  926,  928,  930,  932,  934,  936,  938,  940,  942,  944,
        946,  948,  950,  952,  954,  956,  958,  960,  962,  964,  966,
        968,  970,  972,  974,  976,  978,  980,  982,  984,  986,  988,
        990,  992,  994,  996,  998, 1000, 1002, 1004, 1006, 1008, 1010,
       1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032,
       1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054,
       1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076,
       1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098,
       1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120,
       1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142,
       1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164,
       1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186,
       1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208,
       1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230,
       1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252,
       1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274,
       1276])

In [32]:
age = [   0,    2,    4,    6,    8,   10,   12,   14,   16,   18,   20,
         22,   24,   26,   28,   30,   32,   34,   36,   38,   40,   42,
         44,   46,   48,   50,   52,   54,   56,   58,   60,   62,   64,
         66,   68,   70,   72,   74,   76,   78,   80,   82,   84,   86,
         88,   90,   92,   94,   96,   98,  100,  102,  104,  106,  108,
        110,  112,  114,  116,  118,  120,  122,  124,  126,  128,  130,
        132,  134,  136,  138,  140,  142,  144,  146,  148,  150,  152,
        154,  156,  158,  160,  162,  164,  166,  168,  170,  172,  174,
        176,  178,  180,  182,  184,  186,  188,  190,  192,  194,  196,
        198,  200,  202,  204,  206,  208,  210,  212,  214,  216,  218,
        220,  222,  224,  226,  228,  230,  232,  234,  236,  238,  240,
        242,  244,  246,  248,  250,  252,  254,  256,  258,  260,  262,
        264,  266,  268,  270,  272,  274,  276,  278,  280,  282,  284,
        286,  288,  290,  292,  294,  296,  298,  300,  302,  304,  306,
        308,  310,  312,  314,  316,  318,  320,  322,  324,  326,  328,
        330,  332,  334,  336,  338,  340,  342,  344,  346,  348,  350,
        352,  354,  356,  358,  360,  362,  364,  366,  368,  370,  372,
        374,  376,  378,  380,  382,  384,  386,  388,  390,  392,  394,
        396,  398,  400,  402,  404,  406,  408,  410,  412,  414,  416,
        418,  420,  422,  424,  426,  428,  430,  432,  434,  436,  438,
        440,  442,  444,  446,  448,  450,  452,  454,  456,  458,  460,
        462,  464,  466,  468,  470,  472,  474,  476,  478,  480,  482,
        484,  486,  488,  490,  492,  494,  496,  498,  500,  502,  504,
        506,  508,  510,  512,  514,  516,  518,  520,  522,  524,  526,
        528,  530,  532,  534,  536,  538,  540,  542,  544,  546,  548,
        550,  552,  554,  556,  558,  560,  562,  564,  566,  568,  570,
        572,  574,  576,  578,  580,  582,  584,  586,  588,  590,  592,
        594,  596,  598,  600,  602,  604,  606,  608,  610,  612,  614,
        616,  618,  620,  622,  624,  626,  628,  630,  632,  634,  636,
        638,  640,  642,  644,  646,  648,  650,  652,  654,  656,  658,
        660,  662,  664,  666,  668,  670,  672,  674,  676,  678,  680,
        682,  684,  686,  688,  690,  692,  694,  696,  698,  700,  702,
        704,  706,  708,  710,  712,  714,  716,  718,  720,  722,  724,
        726,  728,  730,  732,  734,  736,  738,  740,  742,  744,  746,
        748,  750,  752,  754,  756,  758,  760,  762,  764,  766,  768,
        770,  772,  774,  776,  778,  780,  782,  784,  786,  788,  790,
        792,  794,  796,  798,  800,  802,  804,  806,  808,  810,  812,
        814,  816,  818,  820,  822,  824,  826,  828,  830,  832,  834,
        836,  838,  840,  842,  844,  846,  848,  850,  852,  854,  856,
        858,  860,  862,  864,  866,  868,  870,  872,  874,  876,  878,
        880,  882,  884,  886,  888,  890,  892,  894,  896,  898,  900,
        902,  904,  906,  908,  910,  912,  914,  916,  918,  920,  922,
        924,  926,  928,  930,  932,  934,  936,  938,  940,  942,  944,
        946,  948,  950,  952,  954,  956,  958,  960,  962,  964,  966,
        968,  970,  972,  974,  976,  978,  980,  982,  984,  986,  988,
        990,  992,  994,  996,  998, 1000, 1002, 1004, 1006, 1008, 1010,
       1012, 1014, 1016, 1018, 1020, 1022, 1024, 1026, 1028, 1030, 1032,
       1034, 1036, 1038, 1040, 1042, 1044, 1046, 1048, 1050, 1052, 1054,
       1056, 1058, 1060, 1062, 1064, 1066, 1068, 1070, 1072, 1074, 1076,
       1078, 1080, 1082, 1084, 1086, 1088, 1090, 1092, 1094, 1096, 1098,
       1100, 1102, 1104, 1106, 1108, 1110, 1112, 1114, 1116, 1118, 1120,
       1122, 1124, 1126, 1128, 1130, 1132, 1134, 1136, 1138, 1140, 1142,
       1144, 1146, 1148, 1150, 1152, 1154, 1156, 1158, 1160, 1162, 1164,
       1166, 1168, 1170, 1172, 1174, 1176, 1178, 1180, 1182, 1184, 1186,
       1188, 1190, 1192, 1194, 1196, 1198, 1200, 1202, 1204, 1206, 1208,
       1210, 1212, 1214, 1216, 1218, 1220, 1222, 1224, 1226, 1228, 1230,
       1232, 1234, 1236, 1238, 1240, 1242, 1244, 1246, 1248, 1250, 1252,
       1254, 1256, 1258, 1260, 1262, 1264, 1266, 1268, 1270, 1272, 1274,
       1276]

In [33]:
age[-6]  #index

1266

  -inf -----_2-----_1--- 0 ----1--2----- +inf

In [34]:
age.index(778)

389

In [35]:
age[389] =775

In [36]:
borrower_1

['Shahbaz', 'Male', 20000, 'AI']

In [37]:
borrower_2

['Mehwish', 'Female', 30000, 'AA']

In [38]:
borrower_1[0] = "Shahbaz Muneer"

In [39]:
borrower_2[0] = "Shahbaz Muneer"

In [40]:
borrower_1

['Shahbaz Muneer', 'Male', 20000, 'AI']

In [41]:
borrower_2[0] = "Mehwish Alam"

In [42]:
borrower_2

['Mehwish Alam', 'Female', 30000, 'AA']

In [43]:
borrower_1

['Shahbaz Muneer', 'Male', 20000, 'AI']

In [44]:
borrower_2

['Mehwish Alam', 'Female', 30000, 'AA']

In [45]:
borrower_2[0] = 'Mehwish Ibrahim'

In [46]:
print(borrower_1)
print(borrower_2)

['Shahbaz Muneer', 'Male', 20000, 'AI']
['Mehwish Ibrahim', 'Female', 30000, 'AA']

In [47]:
borrower_1.append(25)
borrower_1.append(22)

In [48]:
print(borrower_1)
print(borrower_2)

['Shahbaz Muneer', 'Male', 20000, 'AI', 25, 22]
['Mehwish Ibrahim', 'Female', 30000, 'AA']

In [49]:
borrower_1.remove(25)

In [50]:
borrower_1

['Shahbaz Muneer', 'Male', 20000, 'AI', 22]

# indexing Slicing

In [51]:
borrower_1[  4  :      ]

[22]

In [52]:
del(borrower_1[4:])

In [53]:
borrower_1

['Shahbaz Muneer', 'Male', 20000, 'AI']

In [54]:
print(borrower_1)
print(borrower_2)

['Shahbaz Muneer', 'Male', 20000, 'AI']
['Mehwish Ibrahim', 'Female', 30000, 'AA']

In [55]:
customers = [borrower_1,borrower_2,
             ['Alisha khan', 'Female', 60000, 'CA'],
             ['Nabiha Nafees', 'Female', 50000, 'ML']
            ]

# List of List

In [61]:
employers_top = customers 
employers_top

[['Shahbaz Muneer', 'Male', 20000, 'AI'],
 ['Mehwish Ibrahim', 'Female', 30000, 'AA'],
 ['Alisha khan', 'Female', 60000, 'CA'],
 ['Nabiha Nafees', 'Female', 50000, 'ML']]

In [74]:
alisha = sum(employers_top[-2][-2])

In [75]:
nabiha = employers_top[-1][-2]

In [76]:
mehwish = employers_top[1][2]

In [78]:
shahbaz = employers_top[0][2]

In [79]:
alisha +nabiha +mehwish +shahbaz

160000

In [80]:
employers_top

[['Shahbaz Muneer', 'Male', 20000, 'AI'],
 ['Mehwish Ibrahim', 'Female', 30000, 'AA'],
 ['Alisha khan', 'Female', 60000, 'CA'],
 ['Nabiha Nafees', 'Female', 50000, 'ML']]

# loop

In [89]:
for salary in employers_top:
    print(salary[-2])
                                       # for means iteration # index

20000
30000
60000
50000

In [91]:
for salary in employers_top:
    gender = salary[1]
    print(gender)

Male
Female
Female
Female

In [93]:
for depart in employers_top:
    department = depart[-1]
    print(department)

AI
AA
CA
ML

In [132]:
employers_top

[['Shahbaz Muneer', 'Male', 20000, 'AI'],
 ['Mehwish Ibrahim', 'Female', 30000, 'AA'],
 ['Alisha khan', 'Female', 60000, 'CA'],
 ['Nabiha Nafees', 'Female', 50000, 'ML']]

In [134]:
for empl_name in employers_top[0:2]:
    employee_name = empl_name[0]
    print(employee_name)      # index wise iteration so must write in loop 
    
    
print(employee_name)

Shahbaz Muneer
Mehwish Ibrahim
Mehwish Ibrahim

In [107]:
print(employee_name)

Nabiha Nafees

In [113]:
a = 9

In [119]:
a = 16

In [120]:
a

16

In [123]:
a = 12

In [124]:
a

12

In [125]:
salary = 5000

In [126]:
salary

5000

In [127]:
salary = 10000
salary

10000

In [128]:
salary =9000

In [129]:
salary = 10000

In [130]:
salary

10000

In [187]:
employers_top

[['Shahbaz Muneer', 'Male', 20000, 'AI'],
 ['Mehwish Ibrahim', 'Female', 30000, 'AA'],
 ['Alisha khan', 'Female', 60000, 'CA'],
 ['Nabiha Nafees', 'Female', 50000, 'ML']]

# For loop

In [188]:
employe_sal = 0 

for salary in employers_top:
    sal = salary[-2]    
    employe_sal += sal

In [189]:
employe_sal

160000

In [190]:
employers_top

[['Shahbaz Muneer', 'Male', 20000, 'AI'],
 ['Mehwish Ibrahim', 'Female', 30000, 'AA'],
 ['Alisha khan', 'Female', 60000, 'CA'],
 ['Nabiha Nafees', 'Female', 50000, 'ML']]

In [191]:
fe_employe_sal = 0 

for i in employers_top:
    salary = i[-2]
    gender = i[1]
    if gender == "Female":           # comparision  > <,  <=, >=, ===
         fe_employe_sal  += salary

In [193]:
fe_employe_sal

140000

# Conditional for loop

In [218]:
male_employee_sal = 0 

for i in employers_top:   # body 
    salary = i[-2]      # posit
    gender = i[1]      #posit
    print(gender)
    if gender == "Male":            # condition 
        male_employee_sal += salary 
        
                                                     # comparision  > <,  <=, >=, ===

Male
Female
Female
Female

# Conditional comparision loops

In [224]:
male_employe_sal = 0 

for i in employers_top:
    salary = i[-2]
    gender = i[1]
    if gender != "Female":           # comparision  > <,  <=, >=, == , != 
         male_employe_sal  += salary

In [225]:
male_employe_sal

20000

In [230]:
employers_top[1][-1] = "ML"

In [233]:
employers_top

[['Shahbaz Muneer', 'Male', 20000, 'AI'],
 ['Mehwish Ibrahim', 'Female', 30000, 'ML'],
 ['Alisha khan', 'Female', 60000, 'CA'],
 ['Nabiha Nafees', 'Female', 50000, 'ML']]

# Logical loops

In [243]:
ai_employers_sal = 0 


for i in employers_top:
    gend = i[1]        #gender
    depart = i[-1]      # depart 
    sal = i[-2]
             # true              # true   == true 
    if gender == "Female" and depart == 'ML':      #True  # logical operators , and or , not
        ai_employers_sal += sal
        
print(ai_employers_sal)
        

                                    #1               # 2    # 2 conditions 
    # task: find sum of salary of females who have Ml department

80000

In [247]:
# familar operators
# unfamilar operators 
# comparision operators (> <,  <=, >=, == , != )
# logical operator  ( and, or , not)
# membership operators ( in, not in )

In [255]:
meh = employers_top[1]
meh

['Mehwish Ibrahim', 'Female', 30000, 'ML']

In [256]:
"Mehwish Ibrahim" not in meh

False

In [258]:
employe = meh

In [259]:
employe

['Mehwish Ibrahim', 'Female', 30000, 'ML']

# Dictionary

In [263]:
employe = {"employe" : 'Mehwish Ibrahim', "gender" :'Female',"salary" : 30000, "depart" : 'ML'}

In [264]:
employe

{'employe': 'Mehwish Ibrahim',
 'gender': 'Female',
 'salary': 30000,
 'depart': 'ML'}

In [266]:
employe["employe"] = "shahbaz"   #update

In [267]:
employe

{'employe': 'shahbaz', 'gender': 'Female', 'salary': 30000, 'depart': 'ML'}

In [268]:
employe["employe_1"] = "mehwish"   # create

In [269]:
employe

{'employe': 'shahbaz',
 'gender': 'Female',
 'salary': 30000,
 'depart': 'ML',
 'employe_1': 'mehwish'}